[submodule "themes/themes/even"]
	path = themes/themes/even
	url = https://github.com/getzola/even.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/getzola/even.git
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/janbaudisch/zola-sam.git
